<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119597759074-vrp04verng2u7uhheqhuq56qu6ecmqlr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119597759074-vrp04verng2u7uhheqhuq56qu6ecmqlr</string>
	<key>API_KEY</key>
	<string>AIzaSyCRsatjHMTMqPtXyN5GFhuMsf2Ll6PgNLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>119597759074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.useralbum</string>
	<key>PROJECT_ID</key>
	<string>useralbum-6c8c9</string>
	<key>STORAGE_BUCKET</key>
	<string>useralbum-6c8c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119597759074:ios:712ee3c6297d8b5c67af3b</string>
</dict>
</plist>